/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: url("Pa\ otro\ proyecto.jpg") center / cover no-repeat fixed;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos de la barra de navegación */
header {
    background-color: #2712c8;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.nav-menu {
    list-style: none;
}

.nav-menu li {
    display: inline;
    margin-right: 20px;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu a {
    text-decoration: none;
    color: #0deb11;
    font-weight: bold;
}

/* Estilos del formulario */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ff5733;
    border-radius: 5px;
}

button {
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff9500;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    
    .logo {
        font-size: 20px;
    }
    
    .nav-menu li {
        margin-right: 10px;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
    }
    
    button {
        padding: 8px 16px;
    }
}
